@using EntityLayer.Concrete
@model List<Bolum>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">İD</th>
      <th scope="col">BÖLÜM ADI</th>
      <th scope="col">DURUM</th>
      <th scope="col">KAYIT TARİHİ</th>
      
      
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model){
    <tr>
      
      <td>@item.BolumID</td>
      <td>@item.Ad</td>
      <td>@item.Silindi</td>
      <td>@item.KayitTarihi.Value.ToShortDateString()</td>
     
      <td><a href="#" class="btn btn-danger">Sil</td> 
      <td><a href="#" class="btn btn-success">GÜNCELLE</td> 
     
    </tr>
      }
  </tbody>
</table>
    
    

